#card-container {
    display: flex;
    height: 300px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
}

#board-container {
    display: flex;
    height: 300px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
}

.card {
    width: 200px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-right: 20px; /* Adjust margin between cards */
}

.card button {
    display: none
}